body {
    font-family: 'mulish', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
}

.whole-page {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding: 20px 40px;
    margin-bottom: 40px;
    background-color: #f4f4f4;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.song-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5em;
}

#song-title {
    font-style: italic;
}

#song-artist {
    font-weight: bold;
    font-size: 1.3rem;
}

#song-album {
    font-size: 1.1rem;
    color: #959595;
}

#album-image {
    width: 100px; /* Fixe la largeur à 100px */
    height: 100px; /* Fixe la hauteur à 100px */
    border-radius: 6px; /* Rend les coins complètement arrondis pour créer un cercle */
    object-fit: cover; /* S'assure que l'image couvre complètement la zone sans être déformée */
}

.song {
    column-count: 1;
    column-gap: 40px; 
}

.section-title {
    font-size: 1.3em;
    color: #959595;
}

.section {
    padding-left: 15px;
    margin-bottom: 30px;
}

.line {
    font-size: 1em;
    margin-top: 25px;
    position: relative; /* Nécessaire pour le positionnement absolu des noms d'accords */
    margin-bottom: 20px; /* Espacer les lignes pour laisser de la place aux noms d'accords */
}

.chord {
    display: inline-block;
    position: relative; /* Pour le positionnement des noms d'accords */
    margin-right: 5px;
    padding: 2px 5px; /* Padding pour mieux visualiser le surlignage */
    white-space: pre; /* Pour conserver les espaces */
    border-radius: 4px;

}

.chord-name {
    font-weight: bold;
    padding-left: 5px;
}

.floating-button {
    position: fixed;
    right: 30px;
    bottom: 10px;
    padding: 5px 10px;
    background-color: #ff00e6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.6;
    transition: 0.2s;
}

.floating-button:hover {
    opacity: 0.9;
}