:root {
    --textScale: 1;
    --spacing: 1; 
}

body {
    font-family: 'mulish', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
}

.whole-page {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding: 20px 40px;
    margin-bottom: 40px;
    background-color: #f4f4f4;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.song-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

#song-title {
    font-style: italic;
    font-size: 1.5em;
}

#song-artist {
    font-weight: bold;
    font-size: 1.3rem;
}

#song-album {
    font-size: 1.1rem;
    color: #959595;
}

#album-image {
    width: 100px; /* Fixe la largeur à 100px */
    height: 100px; /* Fixe la hauteur à 100px */
    border-radius: 6px; /* Rend les coins complètement arrondis pour créer un cercle */
    object-fit: cover; /* S'assure que l'image couvre complètement la zone sans être déformée */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.song {
    column-count: 1;
    column-gap: 40px; 
}

.section-title {
    font-size: calc(1.3em * var(--textScale));
    color: #959595;
    margin-bottom: calc(15px * var(--spacing));
}

.section {
    padding-left: 15px;
    margin-bottom: calc(20px * var(--spacing));
}

.line {
    font-size: calc(1em * var(--textScale));
    margin-top: calc(10px * var(--spacing));
    position: relative; /* Nécessaire pour le positionnement absolu des noms d'accords */
    line-height:calc(270% * var(--spacing));
}

.chord {
    display: inline-block;
    position: relative; /* Pour le positionnement des noms d'accords */
    margin-right: calc(4px * var(--textScale));
    padding: 2px 4px;
    white-space: pre; /* Pour conserver les espaces */
    border-radius: 4px;
    line-height: 100%;
}

.chord::before {
    content: attr(name);
    color: var(--chord-color);
    position: absolute;
    left: 0;
    top: calc(-22px * var(--textScale) * var(--spacing));
    /* top: calc(-110% * var(--spacing)); */
    font-weight: bold;
    padding: 2px 5px;
}

#settingsMenu {
    position: fixed;
    right: 30px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

.floating-button {
    padding: 5px 10px;
    background-color: #ff00e6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.7;
    transition: 0.2s;
    font-size: 0.8em;
}

.floating-button:hover {
    opacity: 0.9;
}

.text-size-button {
    font-weight: bolder;
    font-size: 1.2em;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
}


/* Media queries */
@media only screen and (max-width: 768px) {

    .whole-page {
        padding: 20px;
    }

    .header-info {
        column-gap: 10px;
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
    #song-title {
        font-size: 1.2em;
    }
    #song-artist {
        font-size: 1.0em;
    }
    #song-album {
        font-size: 1.0em;
    }
    #album-image {
        width: 70px;
        height: 70px;
    }



    /* .floating-button {
        font-size: 2em;
    }
    .text-size-button {
        font-size: 2em;
        width: 40px;
        height: 40px;
    } */

} 